@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Web Producer Consumer</title>
    <script src="~/Scripts/jquery-1.6.4.min.js"></script>
    @RenderSection("scripts", false)
</head>
<body>
    @RenderBody()
</body>
</html>
