
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Web Producer Consumer</title>
</head>
<body>
    @RenderBody()
</body>
</html>
