@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("PostValue", "Home"))
{
    <div>@Html.TextBox("Value", "A random string", new {autocomplete="off"})</div>
    <div><button type="submit">Reverse the string</button></div>
}

<ul id="messages">
    
</ul>

@section scripts
{
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/signalr/hubs"></script>

    <script type="text/javascript">
        $(function() {
            var hub = $.connection.notificationHub;

            hub.client.notify = function(message) {
                $("ul#messages").append("<li>" + htmlEncode(message) + "</li>");
            };

            $.connection.hub.start();
        });

        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }

    </script>
}
